Enter your text

<form class="" method="get">
  {{textarea value=text id='textbox'}}
  <button id='submitText' {{action "submit" text}}>Submit</button>
</form>

{{#if result}}
  <div>
    <p>
      You submitted:
    </p>

    <p>
      {{original}}
    </p>

    <p>
      After formatting:
    </p>

    <p id='result'>
      {{result}}
    </p>
  </div>
{{/if}}
